# Complementações para os capítulos 1 e 2 do Allen

Vou fazer diversas complementações abaixo. Cada tópico está indicado.

# 1) Sobre Markdown.

# Isto é um título.
## Isto é um sub-título

isto é um trecho de texto.

**isto é um texto em negrito.**
*isto é um texto em itálico.*

2) Sobre textos

In [1]:
texto = "isto é um texto"
texto

'isto é um texto'

In [2]:
type(texto)

str

Note que é possível fazer uma reatribuição em uma variável!

In [3]:
texto = "agora é outro texto"

In [5]:
print(texto)

agora é outro texto

In [6]:
numero = input("entre com um numero")

entre com um numero 3.15

In [7]:
numero

'3.15'

In [8]:
type(numero)

str

Note que ao exibirmos o número colcoado no input ele aparece como string. Veja o tipo do dado retornado pela função embutida input(). O que deve ser feito é a conversão para o tipo de dado adequado.

In [9]:
float(numero)

3.15

In [10]:
numero_float = float(numero)
numero_float

3.15

In [11]:
type(numero_float)

float

In [12]:
str(numero_float)

'3.15'

In [6]:
# um exemplo mais interessante
from math import exp
numero_e = exp(1.0)
texto_numero_e = str(numero_e)
texto_numero_e

'2.718281828459045'

Perceba que o valor em float pode ser convertido para o formato de string com o uso da função embutida str().

# Conversão automática de tipos

In [15]:
numero = 1

In [16]:
type(numero)

int

In [17]:
numero = numero*1.0

In [18]:
type(numero)

float

Perceba que ao multiplicarmos um inteiro por um numero real (float) obtemos um float. Note que são tipos de dados diferentes, como pode ser verificado facilmente com o código abaixo:

In [19]:
print(type(1),' ',type(1.0))

<class 'int'>   <class 'float'>

## Mais sobre Strings
Vamos considerar alguns detalhes sobre 'somas' e 'multiplicação' com strings. Veja os casos abaixo:

In [23]:
"Fulano" + "Silva"

'FulanoSilva'

Esse é o comportamento esperado. Para obter o nome separado por um espaço em branco, podemos somar 3 strings:

In [24]:
"Fulano" + " " + "Silva"

'Fulano Silva'

Outra forma de obter o mesmo resultado é utilizando o método de string `join()` que concatena uma lista de strings utilizando um string base como o elemento que 'cola' os elementos sucessivos da lista de strings. Veja o exemplo abaixo:

In [25]:
' '.join(["Fulano","Silva"])

'Fulano Silva'

Neste caso o método `join()` do  objeto do tipo string `' '` foi acionado para criar um novo objeto do tipo string, que é o resultado da concatenação dos elementos da lista `["Fulano","Silva"]` utilizando `' '` como 'cola'. Veja o que acontece no caso abaixo:

In [27]:
'&'.join(["Fulano","Silva"])

'Fulano&Silva'

Para utilizarmos o método de string`join(` nos dois exemplos acima tivemos que introduzir o tipo de dado lista, que neste caso apareceu no interior da função `join()` como`["Fulano","Silva"]`. Descreveremos listas mais à frente e pedimos paciência neste momento, mas adianto que o tipo de dados faz o que o próprio nome indica, trata-se de uma lista de elementos. O método oposto ao método é `join()` chama-se `split()`, descrito abaixo sem maiores detalhes:

In [29]:
"Fulano Sicrano da Silva Sauro".split(" ")

['Fulano', 'Sicrano', 'da', 'Silva', 'Sauro']

Deixo como tarefa procurar na documentação do Python a descrição deste método.

Vamos agora tratar de alguns detalhes sobre a 'multiplicação' de strings. Veja os exemplos abaixo:

In [30]:
bobagem = "bla"

In [31]:
bobagem*10

'blablablablablablablablablabla'

Deixo duas questões?

- O que um stringquando multiplicamos um string por um inteiro nulo?
- E se o multiplicarmos por um número negativo?

In [33]:
teste = bobagem*0

In [34]:
print( type(teste), teste)

<class 'str'>

In [35]:
teste

''

Para fechar a complementação destes capítulos, vou introduzir os métodos de string upper() e lower(). Veja como eles funcionam:

In [37]:
musica = "Riders on the Storm"

In [39]:
musica.upper()

'RIDERS ON THE STORM'

In [41]:
musica

'Riders on the Storm'

In [42]:
musica.lower()

'riders on the storm'

In [7]:
numero_e

2.718281828459045

In [10]:
str(numero_e)

'2.718281828459045'

In [14]:
n = '12341234'